<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}
    <title>Music Filter</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    
    <link href="{% static "css/bootstrap-select.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/stylish-portfolio.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Music Filter</a>
            </li>
            <li>
                <a href="#listen" onclick = $("#menu-close").click(); >Listen</a>
            </li>
            <li>
                <a href="#create" onclick = $("#menu-close").click(); >Create</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>
                <span style="font-weight: 400; color: white;">MUSIC</span><span style="font-weight: 700; color: #337ab7;">FILTER</span>
            </h1>
            <h3 style="color: crimson;">Personalized YouTube Experience</h3>
            <a href="#listen" data-toggle="tooltip" title="Choose Playlist" class="btn btn-lg"><i class="fa fa-headphones fa-4x"></i></a>
            <a href="#create" data-toggle="tooltip" title="Create Playlist" class="btn btn-lg"><i class="fa fa-plus fa-4x"></i></a>
        </div>
    </header>

    <!-- Listen -->
    <section id="listen" class="listen">
        <div class="container">

            <!-- Headline -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Most Popular</h1>
                    <hr class="large">
                </div>
            </div>

            <!-- Most Popular results -->
            <div class="row">
                <div class="col-lg-12 text-center">

                    <div class="col-md-3">
                        <div class="service-item">
                            <i class="fa fa-microphone fa-4x"></i>
                            <h4><strong>Artist</strong></h4>
                            <h4>{{ top_artist }}</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="service-item">
                            <i class="fa fa-music fa-4x"></i>
                            <h4><strong>Genre</strong></h4>
                            <h4>{{ top_genre }}</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="service-item">
                            <i class="fa fa-calendar fa-4x"></i>
                            <h4><strong>Decade</strong></h4>
                            <h4>{{ top_decade }}</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="service-item">
                            <i class="fa fa-globe fa-4x"></i>
                            <h4><strong>Country</strong></h4>
                            <h4>{{ top_country }}</h4>
                        </div>
                    </div>

                </div>
            </div>

            <br><br>

            <!-- Headline -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Listen to playlists created by other users</h1>
                    <hr class="large">
                </div>
            </div>
            <!-- /.row -->

            <!-- Trending header -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Trending</h3>
                    <hr class="small">
                    <br>
                </div>
            </div>
            <!-- /.row -->

            <!-- Trending data -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% for item in trending %}
                    <!-- Item -->
                    <div class="col-md-3">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-line-chart fa-stack-1x text-primary"></i>
                            </span>
                            <h4><strong>{{ item.name }}</strong></h4>
                            <p>{{ item.hits }} Views</p>
                            <a href="player/{{ item.id }}" class="btn btn-light">Listen</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /.row -->

            <br><br>

            <!-- Newest header -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Newest</h3>
                    <hr class="small">
                    <br>
                </div>
            </div>
            <!-- /.row -->

            <!-- Newest data -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% for item in newest %}
                    <!-- Item #1 -->
                    <div class="col-md-3">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-clock-o fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>{{ item.name }}</strong>
                            </h4>
                            <p>Added {{ item.elapsed }}</p>
                            <a href="player/{{ item.id }}" class="btn btn-light">Listen</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </section>

    <!-- Create -->
    <section id="create" class="create">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Create your own customized playlist</h1>
                    <hr class="large">
                    <br>
                    

                    <form role="createPlaylist" action="/generator/" method="post">
                        {% csrf_token %}
                        
                        <fieldset class="form-group col-md-12">
                        	<input id="name" class="form-control input-lg text-input" placeholder="Name your playlist..." name="name" type="text">
                        </fieldset>
                        
                    	<fieldset class="form-group col-md-3">
                    		<label for="genre">Choose your genres...</label>
						    <select name="genre" id="genre" title="From metal to jazz" class="selectpicker filter" data-size="5" multiple data-live-search="true" data-selected-text-format="count>2">
							{% for item in genres %}
							  	<option value="{{ item.id }}:{{ item.name }}">{{ item.name }}</option>
                            {% endfor %}
							</select>
						</fieldset>
						
						<fieldset class="form-group col-md-3">
							<label for="artist">Choose your artists...</label>
							<select name="artist" id="artist" title="We got 'em all" class="selectpicker filter" data-size="5" multiple data-live-search="true" data-selected-text-format="count>2">
							{% for item in artists %}
							  	<option value="{{ item.id }}:{{ item.name }}">{{ item.name }}</option>
                            {% endfor %}
							</select>
						</fieldset>
						
						<fieldset class="form-group col-md-3">
							<label for="decade">Choose your decades...</label>
							<select id="decade" name="decade" title="From the 60s to our days" class="selectpicker filter" data-size="5" multiple data-live-search="true" data-selected-text-format="count>2">
							  <option value="1:1950s">1950s</option>
							  <option value="2:1960s">1960s</option>
							  <option value="3:1970s">1970s</option>
							  <option value="4:1980s">1980s</option>
							  <option value="5:1990s">1990s</option>
							  <option value="6:2000s">2000s</option>
							  <option value="7:2010s">2010s</option>
							</select>
						</fieldset>
						
						<fieldset class="form-group col-md-3">
							<label for="country">Choose your countries...</label>
							<select name="country" id="country" title="It doesn't stop in the US" class="selectpicker filter" data-size="5" multiple data-live-search="true" data-selected-text-format="count>2">
							{% for item in countries %}
							  	<option value="{{ item.id }}:{{ item.name }}">{{ item.name }}</option>
                            {% endfor %}
							</select>
						</fieldset>
					   
					   <fieldset class="vertical form-group">
					   	   <label class="filter-label">
						      <input name="live" id="live" type="checkbox"> Give me live versions!
                           </label>
						    
						     
					   	   <label class="filter-label">
						      <input name="cover" id="cover" type="checkbox"> Give me cover versions!
						    </label>
						</fieldset>
						
						<fieldset class="vertical form-group col-md-12">
							<input name="text" class="form-control text-input" type="text" placeholder="...and anything that comes to your mind">
						</fieldset>
						
						<br>
						<button id="submit-btn" type="submit" class="disabled btn btn-lg btn-light">Create!<i class="create-icon fa fa-arrow-circle-right fa-2x"></i></button>
					</form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
    <footer id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2><strong>Music Filter</strong></h2>
                    <h4>Final project in Database Systems</h4>
                    <br>
                    <h4><strong>Created By</strong></h4>
                    <p>Ilia Shevrin</p>
                    <p>Guy Biron</p>
                    <p>Ron Altboum</p>
                    <p>Yoav Porat</p>
                    <p>Amit Yaakobovich</p>
                    <br>
                    <h4><strong>Tel Aviv University</strong></h4>
                    <br>
                    <a target="_blank" href="http://www.tau.ac.il"><img width="60" height="80" src="{% static "img/tau_logo.png" %}" /></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    
    <script src="{% static "js/bootstrap-select.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    
    $("#name").keyup(fixSubmit);
    $("#name").change(fixSubmit);
    
    function fixSubmit() {
		
    	if ($("#name").val() != "") {
    		$("#submit-btn").removeClass("disabled");
    	} else {
    		$("#submit-btn").addClass("disabled");
    	}
    	
    }

    // Scrolls to the selected menu item on the page
    $(function() {
    	
    	// Fix submit button on startup
    	fixSubmit();
    	
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
       
    });

    </script>

</body>

</html>
